In [1]:
import pandas as pd

In [2]:
xl = pd.ExcelFile("hd.xls")

In [4]:
xl.sheet_names

['Visual_Analytics_Data', 'Questions']

In [12]:
df1 = xl.parse("Visual_Analytics_Data")
df1

,Qname,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,What is your first name?Entering your name mea...,Your age,Your shoe size (in US sizes),how many siblings do you have?,How many miles is Dartmouth from where you wer...,At what time do you typically go to bed? use 4...,are you a pet lover? 1 = get that beast away f...,where are you on this scale: 1 = introvert; 10...,do you like to cook? 1 = i'd rather starve; 10...,What is your financial tendency: 1 = money sav...,...,how many US states have you visited?,how many places have you lived?,what temperature (in Fahrenheit) do you prefer...,How spicy do you like your food: 1 = mild; 100...,how many total years of job experience do you ...,how many times have you gone camping?,on how many publications are you an author?,how many different restaurants have you eaten ...,How many non-academic books have you read in t...,How many miles are on your car/vehicle odomete...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alex,29,10,2,8050,2100,1,40,75,20,...,17,10,72,1,4,5,3,15,7,0
3,Ayat,33,8.5,4,7000,2200,50,50,100,100,...,2,9,60,100,12,2,2,5,2,0
4,Bobby,28,9.5,1,2694,2315,100,60,60,20,...,25,5,32,100,0,10,10,30,3,35000
5,Chris,43,12,2,500,0,5,10,1,25,...,48,6,75,50,15,50,100,30,4,95000
6,Elias,29,41,1,2466.7,2300,50,90,1,100,...,10,3,70,1,4,0,20,5,1,150000
7,Harold,58,10,7,1600,30,80,40,90,1,...,49,4,80,100,34,30,40,2,2,86000
8,Jessica,26,5,2,640,2400,80,75,70,40,...,11,7,65,20,2,20,7,36,5,84096
9,Lauren,25,8,1,321,2400,95,40,90,20,...,17,5,80,80,3.5,0,8,14,7,30000
10,Luke,23,8.5,1,300,0,1,80,70,37,...,21,3,60,79,0.2,2,0,36,6,13257
11,Manjula,34,6.5,1,8000,200,70,70,10,20,...,16,9,65,70,10,0,10,14,17,28769
12,Manpreet,23,6,1,9304,230,75,85,100,20,...,5,5,72,95,1,2,1,10,5,0
13,David,26,8.5,0,7100,2350,80,60,80,40,...,16,4,75,10,0,0,4,6,4,26500
14,Michael,22,12,1,250,200,70,40,30,70,...,18,2,68,72,4,2,0,10,3,120000
15,Nino,28,9,2.5,900,0,89,92,91,95,...,21,22,70,82,8,58,7,18,1,120000
16,Nathan,25,11,0,180,2300,75,25,80,40,...,13,3,76,65,2,11,1,14,7,45000
17,Neda,28,8,1,6600,200,80,49,2,93,...,21,13,89,73,1.5,6,3,47,0,6848
18,Patric,26,11,1,6850,2200,40,33,72,30,...,10,9,72,5,2,0,1,10,2,0
19,Priyanka,25,7,1,7400,0,90,90,80,60,...,14,2,85,80,6,0,0,15,20,196300
20,Abdelhamid,32,11,1,6100,200,70,60,70,50,...,6,3,70,20,10,1,4,20,2,245000
21,Sheriff,22,9,2,250,2300,50,40,60,25,...,8,3,70,60,0,0,2,10,3,142942
22,Special,28,12,2,150,0,80,92,100,73,...,23,22,78,71,12,427,0,43,2,124712
23,Sruthi,22,7,1,9000,230,1,20,50,100,...,2,3,70,80,0,4,0,20,3,0
24,John,24,12,1,5500,2230,60,25,75,25,...,7,7,75,40,1,0,1,12,0,175900

In [8]:
df.to_csv('out.csv')

In [13]:
import csv
df=pd.DataFrame()
df=pd.read_csv('hd.csv', skiprows=0)

In [14]:
df

,Qname,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,What is your first name?Entering your name mea...,Your age,Your shoe size (in US sizes),how many siblings do you have?,How many miles is Dartmouth from where you wer...,At what time do you typically go to bed? use 4...,are you a pet lover? 1 = get that beast away f...,where are you on this scale: 1 = introvert; 10...,do you like to cook? 1 = i'd rather starve; 10...,What is your financial tendency: 1 = money sav...,...,how many US states have you visited?,how many places have you lived?,what temperature (in Fahrenheit) do you prefer...,How spicy do you like your food: 1 = mild; 100...,how many total years of job experience do you ...,how many times have you gone camping?,on how many publications are you an author?,how many different restaurants have you eaten ...,How many non-academic books have you read in t...,How many miles are on your car/vehicle odomete...
1,Alex,29,10,2,8050,2100,1,40,75,20,...,17,10,72,1,4,5,3,15,7,0
2,Ayat,33,8.5,4,7000,2200,50,50,100,100,...,2,9,60,100,12,2,2,5,2,0
3,Bobby,28,9.5,1,2694,2315,100,60,60,20,...,25,5,32,100,0,10,10,30,3,35000
4,Chris,43,12,2,500,0,5,10,1,25,...,48,6,75,50,15,50,100,30,4,95000
5,Elias,29,41,1,2466.7,2300,50,90,1,100,...,10,3,70,1,4,0,20,5,1,150000
6,Harold,58,10,7,1600,30,80,40,90,1,...,49,4,80,100,34,30,40,2,2,86000
7,Jessica,26,5,2,640,2400,80,75,70,40,...,11,7,65,20,2,20,7,36,5,84096
8,Lauren,25,8,1,321,2400,95,40,90,20,...,17,5,80,80,3.5,0,8,14,7,30000
9,Luke,23,8.5,1,300,0,1,80,70,37,...,21,3,60,79,0.2,2,0,36,6,13257
10,Manjula,34,6.5,1,8000,200,70,70,10,20,...,16,9,65,70,10,0,10,14,17,28769
11,Manpreet,23,6,1,9304,230,75,85,100,20,...,5,5,72,95,1,2,1,10,5,0
12,David,26,8.5,0,7100,2350,80,60,80,40,...,16,4,75,10,0,0,4,6,4,26500
13,Michael,22,12,1,250,200,70,40,30,70,...,18,2,68,72,4,2,0,10,3,120000
14,Nino,28,9,2.5,900,0,89,92,91,95,...,21,22,70,82,8,58,7,18,1,120000
15,Nathan,25,11,0,180,2300,75,25,80,40,...,13,3,76,65,2,11,1,14,7,45000
16,Neda,28,8,1,6600,200,80,49,2,93,...,21,13,89,73,1.5,6,3,47,0,6848
17,Patric,26,11,1,6850,2200,40,33,72,30,...,10,9,72,5,2,0,1,10,2,0
18,Priyanka,25,7,1,7400,0,90,90,80,60,...,14,2,85,80,6,0,0,15,20,196300
19,Abdelhamid,32,11,1,6100,200,70,60,70,50,...,6,3,70,20,10,1,4,20,2,245000
20,Sheriff,22,9,2,250,2300,50,40,60,25,...,8,3,70,60,0,0,2,10,3,142942
21,Special,28,12,2,150,0,80,92,100,73,...,23,22,78,71,12,427,0,43,2,124712
22,Sruthi,22,7,1,9000,230,1,20,50,100,...,2,3,70,80,0,4,0,20,3,0
23,John,24,12,1,5500,2230,60,25,75,25,...,7,7,75,40,1,0,1,12,0,175900